[submodule "submodules/tidestom"]
	path = submodules/tidestom
	url = git@github.com:TiDES-4MOST/tidestom.git
[submodule "submodules/tides_pipe"]
	path = submodules/tides_pipe
	url = git@github.com:TiDES-4MOST/tides_pipe.git
