[submodule "submodules/shared_services"]
	path = submodules/shared_services
	url = git@github.com:TiDES-4MOST/tides-shared-services.git
	branch = main
[submodule "submodules/tides_pipe"]
	path = submodules/tides_pipe
	url = git@github.com:TiDES-4MOST/tides_pipe.git
	branch = dev-deploy
[submodule "submodules/tidestom"]
	path = submodules/tidestom
	url = git@github.com:TiDES-4MOST/tidestom.git
	branch = hack-dev

